.section {
    margin-top: 90px;
    padding: 0 30px;
}
.subtitle {
    margin-bottom: 72px !important;
    padding: 0 20px;
}

@media screen and (max-width: 900px) {
    .section {
        margin-top: 90px;
        padding: 0;
    }
}