.section {
    margin: 160px auto;
    padding: 0 20px;
}
.subtitle {
    margin-bottom: 72px !important;
}
.cardMumble {
    background-color: #79109D !important;
}
.cardSearch:hover .searchImage {
    transform: scale(105%);
}
.cardImage {
    position: absolute;
    top: 170px;
    right: 60px;
}
.searchImage {
    background-image: url(../../asets/images/voice/hs.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 78.4%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 500ms ease-in-out;
}



@media screen and (max-width:850px) {
    .section {
        margin: 110px auto 80px;
    }
    .cardImage {
        width: 240px;
        top: 100px;
        right: 30px;
    }
}

@media screen and (max-width:700px) {
    .cardImage {
        width: 280px;
        top: 130px;
        right: auto;
        left: calc((100% - 280px)/2);
    }
    .searchImage {
        background-image: url(../../asets/images/voice/hs-phone.png);
        width: 100%;
        height: 365px;
        top: auto;
    }
}


@media screen and (max-width:350px) {
    .searchImage {
        height: 320px;
    }
}
