.card {
    border-radius: 6px;
    background: #34323C;
    width: 186px;
    height: 326px;
    box-sizing: border-box;
    padding: 16px 14px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.16px;
    margin: 14px 0 21px;
    width: 125px;
    min-height: 37px;
}
.wrapper {
    display: flex;
    align-items: center;
}
.label,
.pass {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.18px;
}
.pass {
    color: #A1A1A1;
    margin: 0 8px;
}
.edit, .show {
    background-color: transparent;
    border: none;
    width: 14px;
    height: 14px;
    background-size: cover;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
.show {
    background-image:  url(../../../../../../asets/images/auth/eye-slash.svg);
    margin-right: 2px;
    &.open {
        background-image:  url(../../../../../../asets/images/auth/eye.svg);
    }
}
.edit {
    background-image:  url(../../../../../../asets/images/profile/pencil.svg);
}
.button,
.greyBtn {
    width: 100% !important;
    padding: 9px auto !important;
    font-size: 12px !important;
}
.greyBtn {
    background: #484652 !important;
    margin: 43px 0 8px !important;
    &:hover {
        background: #666666 !important;
    }
}