.section {
    margin: 0 20px;
}

.rulsImage {
    position: absolute;
    left: 90px;
    top: 90px;
}

.instructionImage {
    position: absolute;
    top: 75px;
    right: 120px;
}

.ipImage {
    position: absolute;
    left: 80px;
    top: 75px;
}